#lanuage
language: python
#version
python:
  - "3.6"
# command to install dependencies
install:
  - pip install
  - pip install -r requirements.txt
  - pip install coveralls
# command to run tests
script: cd ./api && nosetests --with-coverage --cover-package=app

after_success: coveralls