{% extends 'layout.html' %}

{% block body  %}
<div class="jumbotron text-center">
    <h3>Welcome to WeConnect Application</h3>
    {% if session.logged_in %}
    <h5> You are now logged in and Your Username is {{session.Username}}</h5>
    <a href="/dashboard" class="btn btn-primary btn-lg">Dashboard</a>
    <a href="/logout" class="btn btn-success btn-lg">Logout</a>
    {% else %}
    <p>The author of this application has not implemented any database yet. Feel free to contact him at <a href="https://web.facebook.com/Bonieeee?ref=br_tf">Otieno Bonifase</a> for any suggestion on how to improve this app. </p>
    <p>Please Register or Login below to use this application</p>
    <a href="/register" class="btn btn-primary btn-lg">Register</a>
    <a href="/login" class="btn btn-success btn-lg">Login</a>
    {% endif %}  
   
</div>
{% endblock %}  