{% extends 'layout.html' %}

{% block body  %}
<div class="jumbotron text-center">
<h3>Edit contact</h3>
<div class="form.group">
    <label for="username">Name</label>
    <input type="text" name="username" class="form-control" id="username" value={{request.form.name}}>
   </div>
   <div class="form-group">
     <label for="phone">Phone</label>
     <input type="text" name="text" class="form-control" id="password" value={{request.form.phone}}>
  <input type="submit" class="btn btn-primary" value="Submit" ></th>
  <th><h4><a href="index.html" class="btn btn-danger">Cancel</a></h4></th>    
       
</form>
</div>
{% endblock %}